@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

h1, p {
  font-family: 'Roboto';
}

body {
  height: 100vh;
  width: 100%;

  display: grid;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.screen {
  justify-content: end;
  margin-right: 35px;
  margin-left: 35px;
  height: 100px;
  
}

.black {
  background-color: black;

  color: white;

  font-size: 38px;
  

  max-width: 425px;
  
  transition: 1s;

  border-radius: 10px;
}

.white {
  background-color: white;
  color: black;

  font-size: 38px;

  border-radius: 20px solid white;

  max-width: 425px;

  transition: 1s;
}

button {
  border-style: none;
  cursor: pointer;

  display: grid;
  justify-content: center;
  align-items: center;

 height: 75px;
 width: 75px;
  
  font-family: 'Roboto';

}

.black button:hover{
  background-color: #46494C;

  border-radius: 100px;
}

.white button:hover {
  background-color: #D9D9D9;

  border-radius: 100px;
}

.btn-size {
  width: 25%;
  height: 75px;

  display: grid;
  justify-content: center;
  align-items: center;
}

.mode {
  display: flex;
  justify-content: start;

  height: 50px;
}

.modeSize {
  width: 25%;

  background-color: inherit;
}

img {
  width: 35px;
}

.mode button:hover {
  background-color: inherit;
}
