@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

h1,
p {
  font-family: "Roboto";
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  height: 100vh;
  width: 100%;

  display: grid;
  justify-content: center;
  align-items: center;

  margin: auto;

  overflow: hidden;
}

/* calculator CSS */

.flex {
  display: flex;
  flex-wrap: wrap;
}


.classCalculator {
  max-width: 425px;

  transition: 1s;

  border-radius: 10px;

  margin: 0;

  margin: 0 10px;
}

.black {
  background-color: black;

  color: white;
}

.white {
  background-color: rgb(243, 242, 242);

  color: black;
}

/* Button css */
button {
  border-style: none;
  cursor: pointer;

  display: grid;
  justify-content: center;
  align-items: center;

  height: 75px;
  width: 75px;

  font-family: "Roboto";

  background-color: inherit;

  font-size: 38px;

  transition: 1s;
}

.black button:hover {
  background-color:#46494c;

  border-radius: 100px;

}

.white button:hover {
  background-color: #d9d9d9;

  border-radius: 100px;
}

.btn-size {
  width: 25%;
  height: 75px;

  display: grid;
  justify-content: center;
  align-items: center;
}

button:disabled:hover {
  background-color: inherit;

  cursor: inherit;
}
.btnOperatorActiveBlack{
  background-color: #e170476b;

  border-radius: 100px;
}
.btnOperatorActiveWhite {
  background-color: #e170476b;

  border-radius: 100px;
}

/* btnSwitchDarkMode CSS */
.mode {
  display: flex;
  justify-content: start;

  height: 50px;
}

.modeSize {
  width: 25%;

  background-color: inherit;
}
.mode button:hover {
  background-color: inherit;
}

/* Img CSS */

img {
  width: 35px;
}

/* Screen CSS */

.classScreen {
  background-color: inherit;
  font-size: 38px;

  margin-left: 35px;
  margin-right: 35px;
}

.fixScreen {
  justify-content: end;
 
  height: 100px;
  
  word-wrap: inherit;
}

/* Line CSS */

.line {
  width: 80%;
  height: 0.1px;

  margin: 5px auto;
  background-color: #d9d9d9;
  

  transition: 1s;
}
.black .line {
  background-color: #d9d9d92a;

  transition: 1s;
}

@media screen and (max-width: 480px) {
  .black button:hover {
    background-color: inherit;
  
    border-radius: 100px;
  }
  
  .white button:hover {
    background-color: inherit;
  
    border-radius: 100px;
  }
}